<div class="container">
  <!--  START HEADER -->
  <div class="row subheader-row">
    <div class="col-sm-10 custom-col">
      <span class="title-layout">Diseño de estudio clínico</span>
    </div>

    <div class="col-sm-2 custom-col">
      <button class="btn-custom btn-new-element" type="button">
        <img ngSrc="./assets/images/icons/plus.svg" alt="" height="17" width="17">
        <span>Nuevo diseño</span>
      </button>
    </div>
  </div>
  <!--  END HEADER -->

  <div class="row mb-5">
    <div class="col-sm-12 title-results-search">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="activity-table-title">Estudios en los que participas:  <em>2</em></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
