<header style="background-color: #BBBABA">
<!--   Logo  routerLink="welcome"-->
  <div class="header-main-logo">
    <span style="font-size: 15px">SISDVAC</span>
  </div>
  <div class="user-profile">
    <div>Admin</div>
    <div >
      <img src="assets/dist/img/user_icon.png" class="img img-circle" alt="User Image">
    </div>
  </div>

  <nav>
<!--    TODO implement this feature (toggle header menu)-->
<!--    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" >-->
<!--      <span class="sr-only" >Toggle navigation</span>-->
<!--    </a>-->
    <ul class="nav-bar-container" >
      <li class="nav-bar-element"><a routerLink="welcome">Inicio</a></li>
      <li class="nav-bar-element"><a routerLink="trial" [routerLinkActive]="'active'">Evaluaciones</a></li>
    </ul>
  </nav>
</header>

