<header class="header-main-style">
<!--   Logo  routerLink="welcome"-->
  <div class="container">
    <div class="row logo-user-container">
      <div class="col-md header-main-logo">
        <span>SISDVAC</span>
      </div>
<!--      <div class="col-md user-profile" *ngIf="isLogged">Doctor principal</div>-->
      <div class="col-md user-profile" *ngIf="isLogged">
        <div class="row">
          <div class="col-sm">
            <img ngSrc="assets/dist/img/user_icon.png" class="img img-circle" alt="User Image" height="400" width="400">
            <div class="user-profile-data">{{firstName}}</div>
            <div class="user-profile-data">{{role}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="main-nav-container" *ngIf="isLogged">
<!--    TODO implement this feature (toggle header menu)-->
<!--    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" >-->
<!--      <span class="sr-only" >Toggle navigation</span>-->
<!--    </a>-->
    <ul class="nav-bar-container" >
      <li class="nav-bar-element">
        <a style="color: #B8CBDB" routerLink="{{routerNameWelcome}}" [routerLinkActive]="'active'" >{{headerContentHome}}</a>
      </li>

      <li class="nav-bar-element">
        <a style="color: #B8CBDB" routerLink="{{routerNameResearches}}" [routerLinkActive]="'active'">{{headerContentResearch}}</a>
      </li>

      <li class="nav-bar-element">
        <a style="color: #B8CBDB" routerLink="{{routerNameAnimalStudies}}" [routerLinkActive]="'active'">{{headerContentAnimalStudies}}</a>
      </li>

      <li class="nav-bar-element">
        <a style="color: #B8CBDB" routerLink="{{routerNameClinicalTrialDesign}}" [routerLinkActive]="'active'">{{headerContentClinicalTrialDesign}}</a>
      </li>

      <li class="nav-bar-element">
        <a style="color: #B8CBDB" routerLink="{{routerNameClinicalTrialEvaluation}}" [routerLinkActive]="'active'">{{headerContentClinicalTrialEvaluation}}</a>
      </li>

      <li class="nav-bar-element">
        <a style="color: #B8CBDB" routerLink="results" [routerLinkActive]="'active'">Resultados</a>
      </li>

    </ul>
  </nav>
</header>

