.header-main-logo {
}
.user-profile{
  float: right;
  color: red;
  .img {
    width: 25px;
    height: 25px;
  }
}

.top-container {
  horiz-align: left;
  .top-container-element{
    width: 300px;
    float: left;
  }
}

.main-nav-container {
  margin-top: 60px;
}
.nav-bar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #147DDD;
  .nav-bar-element{
    float: left;
    border-right: 1px solid #bbb;
    color: black; // TODO for some reason it's not working
    .a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .active {
      background-color: #04AA6D;
    }
    :last-child {
      border-right: none;
    }
  }

}
