<ng-container *ngIf="currentTrialList">
  <ng-container *ngIf="isViewResearch; then viewResearch"></ng-container>
  <ng-container *ngIf="isViewTrials; then viewTrials"></ng-container>
  <ng-container *ngIf="isViewTrial; then viewTrial"></ng-container>
  <ng-container *ngIf="isViewAddFormulation; then viewAddFormulation"></ng-container>
  <ng-container *ngIf="isViewUsers; then viewUsers"></ng-container>
  <ng-container *ngIf="isViewAddMember; then viewAddMember"></ng-container>
</ng-container>

<ng-template #viewResearch>
  <div class="main-container">
    <span class="title-layout">Mis investigaciones</span>
    <div>
      <button class="button">Nueva Investigación</button>
    </div>

    <!-- START INNER CONTAINER-->
    <div class="col-sm-12 inner-container-content">
      <div class="col-sm-12 title-results-search">
        <div class="container">
          <div class="row">
            <div class="col-8"> <span class="activity-table-title">Investigaciones activas: {{ researchList.length}} </span> </div>
          </div>

          <!-- START DECK -->
          <div class="trial-card-deck">
            <div class="trial-card" *ngFor="let research of researchList; let i = index">
              <img class="trial-card-img" src="./assets/images/icons/font-awesome-flag-brands.svg" alt="Card image cap">
              <div class="card-body">
                <div class="card-title">{{research.title}}
                  <img (click)="goToSingleTrialView(i)" class="point-edit trial-check" src="assets/images/icons/search.svg" alt=""/>
                </div>
                <div class="card-text">
                  <a (click)="goToResearchUsersView(i,  research.id, null)">{{research.users.length}} miembros</a>
                </div>
                <div class="card-text">
                  <a (click)="goToResearchUsersView(i, research.id, 'DOCTOR_MAIN')">Ver doctores principales</a>
                </div>
                <div class="card-text">
                  <a (click)="goToResearchUsersView(i, research.id, 'DOCTOR_MEMBER')"> Ver doctores miembros</a>
                </div>
                <div class="card-text">
                  <a (click)="goToResearchTrialsView(i, research.id)">{{research.trials.length}} ensayos</a>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Inició {{research.startDate}}</small>
              </div>
            </div>
          </div>
          <!-- END DECK -->

        </div>

      </div>

    </div>
    <!-- END INNER CONTAINER-->
  </div>
</ng-template>

<ng-template #viewTrial>
  <div class="main-container">
    <div class="inner-container-header">
      <span class="title-layout">Detalle del ensayo "{{currentTrial.title}}"</span>
      <div>
        <button class="button" (click)="goBackToTrials()">Volver</button>
      </div>
    </div>
    <!-- START INNER CONTAINER-->
    <div class="container">
      <div class="row">
        <!-- START DATA CONTAINER -->
        <div class="col-sm">
          <div class="mb-3">{{currentTrial.title}}</div>
          <div class="mb-3">{{currentTrial.insNumber}}</div>
          <div class="mb-3">{{currentTrial.stage}}</div>
          <div class="mb-3" *ngIf="currentTrial.stage == 'CLINICAL'">{{currentTrial.phase}}</div>
          <div class="mb-3">{{currentTrial.status.name}} desde {{currentTrial.status.startDate}}</div>
          <div class="mb-3">{{currentTrial.startDate}}</div>
          <div class="mb-3">{{currentTrial.endDate}}</div>
        </div>
        <!-- END DATA CONTAINER -->

        <!-- START ACTIONS CONTAINER -->
        <div class="col-sm">
          <div>
            <button class="button mb-5" type="button" (click)="goToFormulations(currentTrial.formulations)">Ver formulaciones</button>
          </div>
          <div>
            <button class="button" type="button" (click)="goToAddFormulation(currentResearch, currentTrial)">Nueva formulación</button>
          </div>
        </div>
        <!-- END ACTIONS CONTAINER -->
      </div>
    </div>
    <!-- END INNER CONTAINER-->

  </div>
</ng-template>
<ng-template #viewTrials>
  <div class="main-container">
    <span class="title-layout">{{tgMyTrials}}</span>
    <div>
      <button class="button" (click)="goBackToResearches()">Volver</button>
    </div>
    <div>
      <button class="button">{{tgNewTrial}}</button>
    </div>

    <!-- START INNER CONTAINER-->
    <div class="col-sm-12 inner-container-content">
      <div class="col-sm-12 title-results-search">
        <div class="container">
          <div class="row">
            <div class="col-8"> <span class="activity-table-title">{{tgActiveTrials}}: {{ currentTrialList.length}} </span> </div>
          </div>
          <!-- START DECK -->
          <div class="trial-card-deck">
<!--            START CARDS-->
            <div class="trial-card" *ngFor="let trial of currentTrialList; let i = index">
              <img class="trial-card-img" src="./assets/images/icons/font-awesome-flag-brands.svg" alt="Card image cap">
              <div class="card-body">
                <div class="card-title">{{trial.title}}<img (click)="goToSingleTrialView(i)" class="point-edit trial-check" src="assets/images/icons/search.svg" alt=""/></div>
                <div class="card-text">Etapa: {{getTrialStageName(trial.stage)}}</div>
                <div class="card-text" *ngIf="trial.stage == 'CLINICAL'">Fase: {{trial.phase}}</div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Inició {{trial.startDate}}</small>
              </div>
            </div>
<!--            END CARDS-->
          </div>
          <!-- END DECK -->
        </div>
      </div>
    </div>
    <!-- END INNER CONTAINER-->
  </div>
</ng-template>

<ng-template #viewAddFormulation>
  <div class="main-container">
    <div class="container">
      <div class="row create-element-row">
        <div class="title-layout">Crear nueva formulación</div>
          <div class="col-sm-1 bubble-element-col" [ngClass]="{'is-bubble-active': addFormulationStep == 1}">1</div>
          <div class="col-sm-1 bubble-element-transparent"></div>
          <div class="col-sm-1 bubble-element-col" [ngClass]="{'is-bubble-active': addFormulationStep == 2}">2</div>
        <div class="col-sm">
          <button class="button" (click)="goBackToTrial()">Volver</button>
        </div>
      </div>

      <div class="row">
        <form #form="ngForm" (ngSubmit)="confirmAddFormulation(form)">

          <div *ngIf="addFormulationStep == 1">
            <h1 style="border: 1px solid red">Datos de la formulación</h1>
            <div class="mb-3">
              <label for="size">Tamaño y distribución</label>
              <input type="text" id="size" [(ngModel)]="formulationSize" name="size">
            </div>

            <div class="mb-3">
              <label for="integrity">Integridad</label>
              <input type="text" id="integrity" [(ngModel)]="formulationIntegrity" name="integrity">
            </div>

            <div class="mb-3">
              <label for="composition">Composición</label>
              <input type="text" id="composition" [(ngModel)]="formulationComposition" name="composition">
            </div>

            <div class="mb-3">
              <label for="sterility">Esterilidad y niveles de endotoxinas</label>
              <input type="text" id="sterility" [(ngModel)]="formulationSterility" name="sterility">
            </div>

            <div class="mb-3">
              <label for="osmolality">Osmolidad y pH</label>
              <input type="text" id="osmolality" [(ngModel)]="formulationOsmolality" name="osmolality">
            </div>
          </div>

          <div *ngIf="addFormulationStep == 2">
<!--            TODO add confirmation screen-->
          </div>

          <div class="d-grid">
            <button class="btn-primary btn btn-lg w-10">Confirmar ></button>
          </div>
        </form>
      </div>

    </div>

  </div>
</ng-template>

<ng-template #viewUsers>
  <div class="main-container">
    <span class="title-layout">Equipo de la investigación "{{currentResearch.title}}"</span>
    <div>
      <button class="button" (click)="goBackToResearches()">Volver</button>
    </div>
    <div>
      <button class="button" (click)="goToAddMember(currentResearch)">Agregar miembro</button>
    </div>

    <!-- START INNER CONTAINER-->
    <div class="col-sm-12 inner-container-content">
      <div class="col-sm-12 title-results-search">
        <div class="container">
          <div class="row">
            <div class="col-8"> <span class="activity-table-title">Número de usuarios: {{ currentResearchUserList.length}} </span> </div>
          </div>

          <!-- START DECK -->
          <div class="trial-card-deck">
            <div class="trial-card" *ngFor="let _user of currentResearchUserList; let i = index">
              <img class="trial-card-img" src="./assets/images/icons/font-awesome-flag-brands.svg" alt="Card image cap">
              <div class="card-body">
                <div class="card-title">{{_user.firstName}} {{_user.lastName}}<img (click)="editUser(i)" class="point-edit trial-check" src="assets/images/icons/edit-solid.svg" alt=""/></div>
                <div class="card-text">{{_user.email}}</div>
                <div class="card-text">{{getRoleName(_user.role)}}</div>
                <div class="card-text">Otros</div>
              </div>
              <div class="card-footer">
<!--                <small class="text-muted">Inició {{research.startDate}}</small>-->
              </div>
            </div>
          </div>
          <!-- END DECK -->

        </div>
      </div>
    </div>
    <!-- END INNER CONTAINER-->

  </div>
</ng-template>

<ng-template #viewAddMember>
  <div class="main-container">
    <span>Agregar miembro a la investigación "{{currentResearch.title}}"</span>
    <div>
      <button class="button" (click)="goBackToMembers()">Volver</button>
    </div>
<!--    START INNER CONTAINER-->
    <div class="col-sm-12 inner-container-content">
      <div class="col-sm-12 title-results-search">
        <div class="container">
<!--      START row for the search bar-->
          <div class="row search-bar-container">
            <form #form="ngForm" (ngSubmit)="doSearch(form)">
              <div class="search-bar-element mb-5" style="width: 40%">
                <input type="text" id="search_value"  [(ngModel)]="searchValue" name="search_value" style="width: 500px">
              </div>

              <div class="search-bar-element mb-3" style="width: 20%">
                <select class="mt-1" name="search_key" id="search_key" [(ngModel)]="searchKey">
                  <option value="" disabled selected>Seleccionar</option>
                  <option value="role">Rol</option>
                  <option value="name">Nombre</option>
                  <option value="docNumber">Núm. Doc.</option>
                </select>
              </div>

              <div class="search-bar-element mb-3 d-grid" style="width: 20%">
                <button class="btn-primary btn btn-lg" type="submit">
                  <img ngSrc="assets/images/icons/search.svg" alt="" height="16" width="16"> Buscar
                </button>
              </div>

              <div class="search-bar-element mb-3" style="width: 20%">
                <button class="btn-primary btn btn-lg" type="button" (click)="doAddMembers()">Confirmar</button>
              </div>
            </form>
          </div>
<!--          END row for the search bar-->

<!--          START row for members added-->
          <div class="row search-results-container">
            <table>
              <tr>
                <th>Nº</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Selección</th>
              </tr>

<!--              START BODY -->
              <tr *ngFor="let user of searchResults; let i = index">
                <td>{{i + 1}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{getRoleName(user.role)}}</td>
                <td>
                  <input type="checkbox" id="is_selected" name="is_selected" (change)="handleSelectedUser($event, i)">
                </td>
              </tr>
            </table>
          </div>
<!--          END row for the members added-->
        </div>
      </div>

    </div>
<!--    END INNER CONTAINER-->

  </div>
</ng-template>
