@import '../../styles/mixins';

.search-bar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //border: 1px red solid; // for testing
  .search-bar-element {
    height: 50px;
    float: left;
    //border: 2px solid black; // for testing
  }
}

.search-results-container {
  //border: 2px red solid; // for testing
}

.search-bar-select {
  line-height: 2em;
}

.search-bar-button {
  //margin-top: 20px;
}

.search-bar-input {

}

.inner-container-content {
  margin-top: 120px;
  min-height: 100px;
  position: relative;
  padding-bottom: 24px;
  //border: 1px blue solid; // for testing
}

.title-results-search {
  height: 57px;
  display: flex;
  align-items: center;

  .activity-table-title {
    @include regular-font-style($fontSize: 18px, $color: $black-primary);
    font-weight: 700;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.trial-card-deck {
  horiz-align: left;
  .trial-card{
    border: 2px black solid; // for testing
    // these 2 lines are for horizontal alignment
    width: 300px;
    float: left;
    .img {
      width: 40px;
      height: 40px;
    }
  }
}

.trial-check {
  float: right;

}

.trial-card-img {
}
