<div>
  <div class="container">
    <!--  HEADER  -->
    <div class="row subheader-row">
      <div class="col-sm-10 custom-col">
        <span class="title-layout">Nuevo estudio animal</span>
      </div>
      <!--   mt-4 is important   -->
      <div class="col-sm-2 custom-col">
        <button class="btn-custom btn-new-element" [routerLink]="['/animal-studies']" type="button">
          <img ngSrc="./assets/images/icons/icon_chevron_left.png" alt="" height="15" width="10">
          <span>Volver</span>
        </button>
      </div>
    </div>

    <!--  BODY  -->
    <div class="row">
      <form #form="ngForm" (ngSubmit)="confirmCreation(form)">
        <h2>Datos del estudio animal</h2>
        <div class="container">

          <div class="row mb-3">
            <div class="col">
              <label for="trial">Ensayo preclínico</label>
            </div>
            <div class="col">
              <select id="trial" name="trial" [(ngModel)]="chosenTrial" style="height: 30px">
                <option *ngFor="let trial of trialsSelect" [ngValue]="trial">
                  {{trial.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="animalModel">Modelo animal</label>
            </div>
            <div class="col">
              <select name="animalModel" id="animalModel" [(ngModel)]="animalStudyDto.animalModel" style="height: 30px">
                <option *ngFor="let animal of animalModelSelect" [ngValue]="animal.value">
                  {{animal.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="ethicalGuidelines">Guía de ética</label>
            </div>
            <div class="col">
              <input type="text" id="ethicalGuidelines" [(ngModel)]="animalStudyDto.ethicalGuidelines" name="ethicalGuidelines">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="ethicalGuidelinesUri">URL de la guía de ética</label>
            </div>
            <div class="col">
              <input type="text" id="ethicalGuidelinesUri" [(ngModel)]="animalStudyDto.ethicalGuidelinesUri" name="ethicalGuidelinesUri">
            </div>
          </div>

        </div>

        <div class="container-btn no-border">
          <div class="col-md-8 mt-2">
            <button type="submit" class="btn-primary btn inner-btn-save">Confirmar</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
