<div class="default-inner-container">
  <span class="title-layout">Mis estudios</span>
  <div>
    <span>Nuevo Estudio</span>
  </div>

  <!-- START INNER CONTAINER-->
  <div class="col-sm-12 trial-secondary-container mt-4">

    <div class="col-sm-12 title-results-search">
      <div class="container">
        <div class="row">
          <div class="col-8"> <span class="activity-table-title">Estudios activos: {{ trialList.length}} </span> </div>
        </div>
      </div>
    </div>

    <div>

    </div>

  </div>
  <!-- END INNER CONTAINER-->
</div>
