<div class="main-container">
  <span class="title-layout">Mis estudios</span>
  <div>
    <span>Nuevo Estudio</span>
  </div>

  <!-- START INNER CONTAINER-->
  <div class="col-sm-12 trial-secondary-container">

    <div class="col-sm-12 title-results-search">
      <div class="container">
        <div class="row">
          <div class="col-8"> <span class="activity-table-title">Estudios activos: {{ trialList.length}} </span> </div>
        </div>

        <!-- START DECK -->
        <div class="trial-card-deck">
          <div class="trial-card" *ngFor="let trial of trialList; let i = index">
            <img class="trial-card-img" src="./assets/images/icons/font-awesome-flag-brands.svg" alt="Card image cap">
            <div class="card-body">
              <div class="card-title">{{trial.title}}<img (click)="checkTrial(i)" class="point-edit trial-check" src="assets/images/icons/search.svg" alt=""/></div>
              <div class="card-text"><a>Patrocinadores</a></div>
              <div class="card-text"><a>Patrocinadores</a></div>
              <div class="card-text"><a>Patrocinadores</a></div>
              <div class="card-text"><a>Patrocinadores</a></div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Inició {{trial.startDate}}</small>
            </div>
          </div>
        </div>
        <!-- END DECK -->

      </div>

    </div>

    <div>

    </div>

  </div>
  <!-- END INNER CONTAINER-->
</div>
