<div class="main-container">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm title-layout">Estudios animales</div>

      <div class="col-sm">
        <button class="button" [routerLink]="['create']" type="button">Nuevo estudio</button>
      </div>

    </div>

    <div class="row mb-5">
      Estudios: {{animalStudies.length}}
    </div>

    <div class="row">
      <!--   START DECK   -->
      <div class="trial-card-deck">
        <div class="card trial-card" style="width: 22%" *ngFor="let study of animalStudies; let i = index">
          <div class="card-body">
            <div class="card-title">{{study.trialTitle}}
            </div>
            <div class="card-text custom-card-detail">
              <b>{{study.trialInsNumber}}</b>
            </div>
            <div class="card-text custom-card-detail">
              Modelo animal <em>{{getAnimalModelName(study.animalModel)}}</em>
            </div>
            <div class="card-text custom-card-detail">
              {{study.ethicalGuidelines}}
            </div>
          </div>

          <div class="card-footer">
            <small class="text-muted">Inició {{study.startDate}}</small>
          </div>
        </div>
      </div>
      <!--   END   DECK   -->
    </div>

  </div>
</div>
