<div class="container">
  <!--  HEADER  -->
  <div class="row subheader-row">
    <div class="col-sm-10 custom-col">
      <span class="title-layout">Evaluación de estudio animal</span>
    </div>

    <div class="col-sm-2 custom-col">
      <button class="btn-custom btn-new-element" [routerLink]="['/animal-studies']" type="button">
        <img ngSrc="./assets/images/icons/icon_chevron_left.png" alt="" height="15" width="10">
        <span>Volver</span>
      </button>
    </div>
  </div>

  <!--  BODY-->
  <div class="row">
    <form [formGroup]="evaluateForm">
      <h2>Parámetros de la evaluación</h2>
      <div class="container">

        <div class="row mb-3">
          <div class="row mb-1">
            <label class="search-label custom-search-label" for="totalVaccinatedAnimals">Total de animales vacunados</label>
          </div>
          <div class="row">
            <input formControlName="totalVaccinatedAnimals" class="form-control custom-input-field" type="text" id="totalVaccinatedAnimals" name="totalVaccinatedAnimals" placeholder="ex. 100">
          </div>
        </div>

        <div class="row mb-3">
          <div class="row mb-1">
            <label class="search-label custom-search-label" for="animalsWithDetectableImmuneResponse">Número de animales con respuesta inmune detectable</label>
          </div>
          <div class="row">
            <input formControlName="animalsWithDetectableImmuneResponse" class="form-control custom-input-field" type="text" id="animalsWithDetectableImmuneResponse" name="animalsWithDetectableImmuneResponse" placeholder="ex. 50">
          </div>
        </div>

      </div>

      <div class="container-btn no-border">
        <div class="col-md-8 mt-2">
          <button type="submit" class="btn-primary btn inner-btn-save btn-evaluate-study" [disabled]="evaluateForm.invalid" (click)="confirmEvaluation()">Confirmar</button>
        </div>
      </div>
    </form>
  </div>
</div>
