<div class="main-container">
  <div class="container">
    <div class="row create-element-row">

      <div class="col-sm-9">{{tagCreateNew}}</div>
      <div class="col-sm-1 bubble-element-col" [ngClass]="{'is-bubble-active': currentStep == 1}">1</div>
      <div class="col-sm-1 bubble-element-transparent"></div>
      <div class="col-sm-1 bubble-element-col" [ngClass]="{'is-bubble-active': currentStep == 2}">2</div>
      <div class="col-sm-1 bubble-element-transparent"></div>
      <div class="col-sm-1 bubble-element-col" [ngClass]="{'is-bubble-active': currentStep == 3}">3</div>
      <div class="col-sm-1 bubble-element-transparent"></div>
      <div class="col-sm-1 bubble-element-col" [ngClass]="{'is-bubble-active': currentStep == 4}">4</div>
    </div>
    <div class="row" style="border: 1px solid black; min-height: 425px">

      <form>
        <ng-container *ngIf="currentStep == 1">
          <h1 style="border: 1px solid red">Datos del patrocinador </h1>
          <div class="mb-3">
            <label for="sponsor_name">Nombre del patrocinador</label>
            <input type="text" id="sponsor_name">
          </div>

          <div class="mb-3">
            <label for="sponsor_acronym">Siglas (opcional)</label>
            <input type="text" id="sponsor_acronym">
          </div>

          <div class="mb-3">
            <label for="sponsor_description">Descripción</label>
            <input type="text" id="sponsor_description">
          </div>

          <div class="mb-3">
            <label for="sponsor_doc_type">Tipo de documento</label>
            <select name="sponsor_doc_type" id="sponsor_doc_type">
              <option value="" disabled selected>Seleccionar</option>
              <option value="dni">DNI</option>
              <option value="ruc">RUC</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="sponsor_doc_number">Número de documento</label>
            <input type="text" id="sponsor_doc_number">
          </div>

          <div class="mb-3">
            <label for="sponsor_city">Ciudad</label>
            <select name="sponsor_city" id="sponsor_city">
              <option value="" disabled selected>Seleccionar</option>
              <option value="lim">Lima</option>
              <option value="tru">Trujillo</option>
              <option value="aqp">Arequipa</option>
            </select>
          </div>
        </ng-container>

        <ng-container *ngIf="currentStep == 2">
          <h1 style="border: 1px solid red">Datos de la vacuna</h1>
          <div class="mb-3">
            <label for="vaccine_name">Nombre de la vacuna</label>
            <input type="text" id="vaccine_name">
          </div>

          <div class="mb-3">
            <label for="vaccine_acronym">Siglas (opcional)</label>
            <input type="text" id="vaccine_acronym">
          </div>

          <div class="mb-3">
            <label for="vaccine_description">Descripción</label>
            <input type="text" id="vaccine_description">
          </div>

          <div class="mb-3">
            <label for="vaccine_target_infection_type">Tipo de infección</label>
            <select name="vaccine_target_infection_type" id="vaccine_target_infection_type">
              <option value="" disabled selected>Seleccionar</option>
              <option value="viral">Virus</option>
              <option value="bacterium">Bacteria</option>
              <option value="fungi">Hongo</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="vaccine_target_infection_name">Nombre de infección objetivo</label>
            <input type="text" id="vaccine_target_infection_name">
          </div>

          <div class="mb-3">
            <label for="vaccine_type">Ciudad</label>
            <select name="vaccine_type" id="vaccine_type">
              <option value="" disabled selected>Seleccionar</option>
              <option value="attenuated">Viva atenuada</option>
              <option value="inactivated">Viva inactivada</option>
              <option value="mrna">mRNA</option>
            </select>
          </div>
        </ng-container>

        <ng-container *ngIf="currentStep == 3">

        </ng-container>

        <ng-container *ngIf="currentStep == 4">

        </ng-container>

        <div *ngIf="currentStep != 4" class="d-grid"><button (click)="nextStep()" class="btn btn-lg btn-primary">Siguiente ></button></div>
        <div *ngIf="currentStep == 4" class="d-grid"><button class="btn btn-lg btn-primary">Confirmar ></button></div>

      </form>

    </div>

  </div>

</div>
